@model IEnumerable<Lab4.Order>
@{
    ViewData["title"] = "Order";
}
<!DOCTYPE html>

<html>
<head>
    <title>TABLE ORDERS</title>
</head>
<body>
    <h3 align="center">Заказы:</h3>
    <table align="center" border="1">
        <tr>
            <td>Дата заказа</td>
            <td>Доставка</td>
            <td>Объём</td>
            <td>Товар</td>
            <td>Заказчик</td>
        </tr>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderDate.ToShortDateString()</td>
                <td>@order.Delivery</td>
                <td>@order.Volume</td>
                <td>@order.Product.ProductName</td>
                <td>@order.Customer.CustomerName</td>
            </tr>
        }
    </table>
</body>
</html>

